{% extends 'layout.html' %}
{% block head %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
<link href="https://fonts.googleapis.com/css?family=Anton|Bree+Serif|Bungee+Inline|Candal|ZCOOL+KuaiLe" rel="stylesheet">
{% endblock %}
{% block body %}
<div id='status' class="container">
<form class="form-signin" method="post" action="{{ url_for('login') }}">
      {% if retry %}
        <div class="alert alert-danger alert-dismissible fade show">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          Invalid Login credentials.
        </div>
      {% endif %}
      <center><img class="mb-4" src="{{ url_for('static', filename='images/favicon.svg') }}" alt="" width="72" height="72"></center>
      <center><h1 class="h3 mb-3 font-weight-normal" style="font-family: 'Anton', sans-serif; font-size: 35px;">Login</h1></center>
      <label for="Username" class="sr-only">Username</label>
      <input type="text" name="Username" class="form-control" placeholder="Enter Username" required autofocus>
      <label for="Password" class="sr-only">Password</label>
      <input style="margin-top: 10px;" name="Password" type="password" id="Password" class="form-control" placeholder="Enter Password" required>
      <button class="btn btn-lg btn-default btn-block" type="submit" >Login</button>
      <a href="{{ url_for('signup') }}">Need Account</a>
      <p class="mt-5 mb-3 text-muted">&copy; Stark Corp. 2019-2k19</p>
</form>
</div>
{% endblock %}